*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    margin: 36px 48px 0 auto;

}
.menu{
    background-color:grey;
    height:80px;
    width:84px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap:8px;
    padding-left: 8px; 
    background: transparent;
}
.menu div{
    height: 4px;
    width: 4px;
    background-color:grey;
    padding: 8px;
    border: 1px solid black;
    border-radius:50%;
}
.user-icon{
    height: 80px;
    width:80px;
    border: 2px solid black;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
.menu:hover
{
    background-color: rgb(170, 196, 196);
    border-radius: 8px;
}

.menu-box{
    height:200px;
    width :150px;
    border: 1px solid black;
    position:absolute;
    top:120px;
    right: 90px;
    background-color: rgb(213, 200, 200);
    border-radius: 20px;
    display: none;
}
.menu:hover ~.menu-box{
    display: block;
}
.menu-box:hover{
    display: block;
}
