body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
iframe {
    width: 70%;
    height: 70%;
    border-radius: 12px;
}
