/* ------------------------------------------------------------------------------ */
/* .text-type-1{
    color:yellow;
    background-color: brown;
} */
/* ------------------------------------------------------------------------------ */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#root {
    display: flex;
    gap: 16px;
    border: 1px solid brown;
    padding: 16px 24px;
    border-radius: 12px;
    margin: 40px auto auto 60px;
    width: fit-content;
}

#user-img {
    max-width: 150px;
}










/* ------------------------------------------------------------------------------ */
