* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background-color: yellow;
}
footer {
    height: 60px;
    background-color: yellow;
}
main {
    padding: 24px;
    background-color: bisque;
}
#search-container {
    padding: 16px;
    border: 1px solid lightgray;
    width: fit-content;
    margin: auto;
    border-radius: 12px;
}

#root {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    align-items: center;
    justify-content: center;
}
#card {
    padding: 16px;
    border: 1px solid grey;
    border-radius: 16px;
    display: flex;
    gap: 24px;
    img {
        max-width: 100px;
    }
}